<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pacientes del medico ({{id_medico}})</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label>Seleccionar paciente:</ion-label>
    <ion-select (ionChange)="cambiarPaciente($event)" [value]="pacienteSeleccionado.nombre">
      <ion-select-option *ngFor="let paciente of pacientes" [value]="paciente.nombre">{{ paciente.nombre }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card *ngIf="pacienteSeleccionado">
    <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Foto del paciente" />
    <ion-card-header>
      <ion-card-title>{{ pacienteSeleccionado.nombre }}  {{ pacienteSeleccionado.apellido }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Cedula: {{ pacienteSeleccionado.cedula }}</p>
      <p>Edad: {{ pacienteSeleccionado.edad }}</p>
      <p>Teléfono: {{ pacienteSeleccionado.telefono }}</p>
      <p>Tipo: {{ pacienteSeleccionado.tipo }}</p>
      <p>Tipo HPV: {{ pacienteSeleccionado.tipo_hpv }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>