ion-header {
  ion-toolbar {
    --background: #0000ff; /* Cambia el color de fondo a azul */
    ion-title {
      color: #ffffff; /* Cambia el color del texto a blanco */
    }
  }
}

ion-header {
  ion-toolbar {
    --background: #0000ff; /* Cambia el color de fondo a azul */
    display: flex;
    justify-content: center;
    align-items: center;

    ion-title {
      color: #ffffff; /* Cambia el color del texto a blanco */
      text-align: center;
      width: 100%;
    }
  }
}

.titulos {
  padding: 10px;
  color: #0000ff;
  font-weight: bold;
}

.cards {
  padding: 20px;
}

.formularioPrincipal {
  margin-top: -5px;

  padding: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.registrar-button {
  --background: #007bff; /* Color azul para el botón Registrar */
  --color: #ffffff; /* Color de texto blanco */
  margin: 30px;
}

.cancelar-button {
  --background: #dc3545; /* Color rojo para el botón Cancelar */
  --color: #ffffff; /* Color de texto blanco */
  margin: 30px;
}

.titulos {
  font-size: 1.5rem; /* Tamaño de fuente deseado */
}
