<ion-header>
  <ion-toolbar>
    <ion-title>Consulta de Pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Selector de pacientes -->
  <ion-item>
    <ion-label>Paciente:</ion-label>
    <ion-select (ionChange)="obtenerConsultas($event.detail.value)">
      <ion-select-option *ngFor="let paciente of pacientes" [value]="paciente.id">
        {{ paciente.nombre }} {{ paciente.apellido }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Información del paciente -->
  <ion-card *ngFor="let consulta of paciente?.consultas">
    <ion-card-header>
      #: {{ consulta.id }}
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>diagnostico:</ion-label>
        <ion-label>{{ consulta.nombre_diagnostico }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Fecha:</ion-label>
        <ion-label>{{ consulta.fecha }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tratamiento</ion-label>
        <ion-label>{{ consulta.tratamiento }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Descripción</ion-label>
        <ion-label>{{ consulta.descripcion }}</ion-label>
      </ion-item>
      <ion-card>
        <ion-card-header>
          Información del Médico
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Nombre:</ion-label>
            <ion-label>{{ consulta.medico.nombre }} {{ consulta.medico.apellido }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Cédula:</ion-label>
            <ion-label>{{ consulta.medico.cedula }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Especialidad:</ion-label>
            <ion-label>{{ consulta.medico.especialidad }}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>