<ion-header color="secondary">
  <ion-toolbar color="secondary">
    <ion-title>
      Registrar Consulta Médica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Consulta</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form>
        <ion-item>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
          <ion-label>Fecha y hora</ion-label>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="datetime" presentation="date-time" value="2023-11-02T01:22:00" [formatOptions]="{
                  date: {
                    weekday: 'short',
                    month: 'long',
                    day: '2-digit',
                  },
                  time: {
                    hour: '2-digit',
                    minute: '2-digit',
                  },
                }"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>

        <ion-item>
          <ion-label>Paciente</ion-label>
          <ion-select placeholder="Selecciona un paciente" interface="popover">
            <!-- Aquí puedes agregar tus opciones de pacientes -->
            <ion-select-option value="paciente1">Paciente 1</ion-select-option>
            <ion-select-option value="paciente2">Paciente 2</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Tratamiento</ion-label>
          <ion-select placeholder="Selecciona un tratamiento">
            <!-- Aquí puedes agregar tus opciones de tratamientos -->
            <ion-select-option value="tratamiento1">Tratamiento 1</ion-select-option>
            <ion-select-option value="tratamiento2">Tratamiento 2</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Notas</ion-label>
          <ion-textarea placeholder="Escribe tus notas aquí"></ion-textarea>
        </ion-item>

        <ion-button expand="full" type="submit">Guardar</ion-button>
        <ion-button expand="full" type="button">Generar Recordatorio</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>