
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <form class="formularioPrincipal" [formGroup]="paciente">
      <ion-card class="cards">

        <ion-item>
          <ion-input label="A" labelPlacement="floating" type="" placeholder="A" formControlName="A"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="B" labelPlacement="floating" type="" placeholder="B" formControlName="B"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="C" labelPlacement="floating" type="" placeholder="C" formControlName="C"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="D" labelPlacement="floating" type="" placeholder="D" formControlName="D"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="E" labelPlacement="floating" type="" placeholder="E" formControlName="E"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="F" labelPlacement="floating" type="" placeholder="F" formControlName="F"></ion-input>

        </ion-item>

        <ion-item>
          <ion-input label="G" labelPlacement="floating"  type="date" formControlName="G"></ion-input>
        </ion-item>



      </ion-card>


      <br>
      <br>
  
      <div class="button-group">
        <ion-button class="registrar-button" (click)="register()">Registrar</ion-button>
        <ion-button class="cancelar-button" color="danger" (click)="cancelar()">Cancelar</ion-button>
      </div>

    </form>
  </div>


</ion-content>

