<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div>
    <form class="formularioPrincipal" [formGroup]="paciente">
      <ion-card class="cards">
        <ion-item>
          <ion-input label="Nombre" labelPlacement="floating" type="string" placeholder="..."
            formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Apellido" labelPlacement="floating" type="string" placeholder=""
            formControlName="apellido"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Cedula" labelPlacement="floating" type="string" placeholder="Cedula"
            formControlName="cedula"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Edad" labelPlacement="floating" type="number" placeholder="Edad"
            formControlName="edad"></ion-input>
        </ion-item>

        <ion-item>
          <ion-select label="Genero" label-placement="floating" formControlName="genero">
            <ion-select-option value="femenino">Femenino</ion-select-option>
            <ion-select-option value="masculino">Masculino</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-input label="Telefono" labelPlacement="floating" type="string" placeholder="Telefono"
            formControlName="telefono"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Email" labelPlacement="floating" type="string" placeholder="Email"
            formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Tipo" labelPlacement="floating" type="string" placeholder="Tipo HPV"
            formControlName="tipo_hpv"></ion-input>
        </ion-item>
      </ion-card>
      <div class="button-group" style="display: flex; justify-content: space-between; width: 100%;">
        <ion-button type="submit" color="primary" style="width: 45%;" (click)="register()">Registrar</ion-button>
        <ion-button routerLink="/home" color="danger" (click)="cancelar()" style="width: 45%;">Cancelar</ion-button>
      </div>

    </form>
  </div>


</ion-content>