/* Estilos para el ion-header */
ion-header {
  ion-toolbar {
    --background: #0000ff; /* Cambia el color de fondo a azul */
    display: flex;
    justify-content: center;
    align-items: center;
    ion-title {
      color: #ffffff; /* Cambia el color del texto a blanco */
      text-align: center;
      width: 100%;
    }
  }
}

/* Estilos para los títulos */
.titulos {
  padding: 10px;
  color: #0000ff;
  font-weight: bold;
}

/* Estilos para las tarjetas */
.cards {
  padding: 20px;
  background-color: #ffffff; /* Color de fondo del formulario */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos para el formulario principal */
.formularioPrincipal {
  margin-top: -5px;
  padding: 10px;
}

/* Estilos para el grupo de botones */
.button-group {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

/* Estilos para el botón de Registrar */
.registrar-button {
  --background: #007bff; /* Color azul para el botón Registrar */
  --color: #ffffff; /* Color de texto blanco */
  border-radius: 10px;
}

/* Estilos para el botón de Cancelar */
.cancelar-button {
  --background: #dc3545; /* Color rojo para el botón Cancelar */
  --color: #ffffff; /* Color de texto blanco */
  border-radius: 10px;
}

.my-custom-class-success {
  --background: #dff0d8;
  --color: #3c763d;
}

.my-custom-class-error {
  --background: #f2dede;
  --color: #a94442;
}

.custom-toast-bottom-right {
  --top: auto;
  --bottom: 16px;
  --left: auto;
  --right: 16px;
  position: fixed;
  z-index: 10000; /* Asegúrate de que esté sobre otros elementos */
}
