.custom-container {
  margin: 10px; /* Márgenes exteriores */
  padding: 10px; /* Relleno interno */
  border-radius: 8px; /* Redondeo de bordes */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  background-color: #5e63b6; /* Color de fondo */
}

ion-card {
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: none; /* Sin sombra */
}

ion-card-header {
  padding: 10px; /* Relleno del encabezado */
}
